.myorders-container {
    width: 100%;
    background-color: #181818;
    padding: 20px 5px 20px;
}

.myorders-text {
    font-size: 18px;
    font-style: italic;
    color: #fff;
}

mat-expansion-panel-header {
    min-height: 70px;
}

.order-empty {
    width: 100%;
    height: calc(100vh - 164px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
 
.order-empty-text {
    margin-bottom: 20px;
    font-size: 20px;
}
 
.order-icon-empty {
    font-size: 100px;
    margin-right: 80px;
    margin-bottom: 80px;
}
 
.link-to-movies {
    margin-top: 10px;
    font-size: 12px;
}

.link-to-movies > a {
    font-size: 13px;
    height: 20px;
    line-height: unset;
    padding: 0 10px;
}

.spinner {
    width: 100%;
    height: calc(100vh - 164px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px){
    .myorders-text {
        font-size: 30px;
    }

    .cart-empty-text {
        margin-bottom: 30px;
        font-size: 40px;
    }
     
    .order-icon-empty {
        font-size: 140px;
        margin-right: 100px;
        margin-bottom: 110px;
    }
     
    .link-to-movies {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .link-to-movies > a {
        font-size: 20px;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
    }
    
}
