<a [routerLink]="['/public/detailmovie', movie._id, movie.title]">
    <mat-card class="card card-hover">
        <img mat-card-image src={{movie.cardimg}} class="card-image-overlay">
        <mat-card-content class="card-content">
            <p>{{movie.year}}</p>
            <h3>{{movie.title}}</h3>
            <span>{{movie.genre}}</span>
        </mat-card-content>
        <div class="options">
            <div class="option">
                <p>Disponible: {{movie.stock}}</p>
            </div>
        </div>
    </mat-card>
</a>
