input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

th.mat-header-cell:first-of-type, th.mat-header-cell:last-of-type, td.mat-cell:first-of-type, td.mat-cell:last-of-type {
    padding: 0;
}

.table-container {
    width: 100%;
    padding: 20px 5px;
    margin-bottom: 15px;
    background-color: #212121;
    border-radius: 5px;
    overflow-x: scroll;
}

.table-content {
    min-width: 580px;
    margin-bottom: 10px;
    padding: 10px;
}

.mat-row:hover .mat-cell {
    background-color: #ffc7c7;
}

.mat-header-cell {
    text-align: center;
    font-weight: bold;
}

.cell-product {
    max-width: 200px;
    padding: 5px 0px;
}

.cell-center {
    text-align: center;
    text-transform: capitalize;
}

.cell-right {
    text-align: right;
}
  
.link-detail {
    display: flex;
    text-decoration: none;
}

.cartitem-image {
    width: 60px;
}
 
.cartitem-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.text-detail {
    font-size: 13px;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-days {
    width: 36px;
    height: 23px;
    padding: 0;
    text-align: center;
    border: 1px solid rgb(243, 233, 233);
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
}

.btn-decrease, .btn-increase {
    min-width: 23px !important;
    height: 23px !important;
    font-size: 12px;
    padding: 0px;
    border-radius: 0;
    line-height: 0;
}

.btn-decrease {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-increase {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (min-width: 600px){
    .table-container {
        overflow-x: auto;
    }
    
    .table-content {
        width: 100%;
    }
}

@media (min-width: 960px){
    .table-container {
        min-height: 352px;
        padding: 20px;
    }
}