.checkout-container {
    background-color: #181818;
    padding: 20px 5px 20px;
}

.cart-text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    font-style: italic;
    color: #fff;
}

.personal-data {
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px 5px;
    margin-bottom: 10px;
}

.data {
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.orders-table-container {
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px 5px;
    margin-bottom: 10px;
}

.orders-table {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.text-title {
    font-weight: bold;
}

.text-subtitle {
    font-weight: normal;
    font-style: italic;
}

.text-bold {
    font-weight: bold;
    margin-bottom: 0px;
}

.total-price {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 24px;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.btn-Pay {
    width: 180px;
    height: 50px;
    margin-left: 10px;
}

.btn-movies {
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
}

mat-divider {
    margin-bottom: 20px;
}

@media (min-width: 600px){
    .cart-text {
        font-size: 20px;
    }
}