.order-container {
    padding: 20px;
}

.orders-list {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid rgba(216, 210, 210, 0.788);
    border-radius: 10px;
    padding: 20px 50px;
}

table {
    width: 100%;
}

.btn-delete {
    margin-right: 30px;
}

.buttons-container-mobile {
    display: none;
}

@media(max-width:700px){
    .orders-list {
        padding: 20px 5px;
    }
}

@media(max-width:599px){
    .buttons-container-mobile {
        display: block;
        width: 40px;
    }

    .buttons-container-web {
        display: none;
    }

    .btn-delete {
        margin-right: 10px;
    }
}